<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="A1" fileName="logs/job-server-test.log" append="false">
            <PatternLayout pattern="%t %-5p %c{2} - %m%n"/>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
            <!--<PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=white, DEBUG=green bold, TRACE=blue}"/>-->
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.log4j.xml" level="debug">
            <AppenderRef ref="A1"/>
        </Logger>
        <Root level="debug">
            <!--<AppenderRef ref="A1"/>-->
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>